<%# The Sweet's show page should include:

the Sweet's name
a list of Vendors that sell this Sweet
each Vendor in the list should link to that Vendor's show page %>

<h1><%= Sweet.name %></h1>
<%= @sweet.vendors.each do |vendor| %>
    <li>
    <%= link_to vendor.name, vendor_path(vendor) %>
    </li>
<%end%>